html {
    text-align: center;
}

body {
    margin: 0;
    text-rendering: optimizeLegibility;
}

#index {
    min-height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;    
}

.app {
    padding: 50px 0;
    width: 470px;
    position: relative;
}

#inference {
    height: 100%;
    width: 100%;
}

.canvas-wrapper {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    -webkit-transform: translate(50%, 50%) scale(0, 0);
    -moz-transform: translate(50%, 50%) scale(0, 0);
    transform: translate(50%, 50%) scale(0, 0);
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
    height: 284vw;
    width: 284vw;    
    min-height: 284vh;
    min-width: 284vh;    
    border-radius: 50%;
    overflow: hidden;
    will-change: transform;
}

.canvas-wrapper.enabled {
    -webkit-transform: translate(50%, 50%) scale(1, 1);
    -moz-transform: translate(50%, 50%) scale(1, 1);
    transform: translate(50%, 50%) scale(1, 1);
}

.nn-buttons-container {
    opacity: 0.75;
    animation: hue-animation 8s infinite;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    will-change: filter;
}

.nn-buttons-container.secondary {
    animation: none;
}

.cppn-link-button  {
    position: absolute;
    right: 0;
    bottom: 0;
}

.cppn-link-button {
    -webkit-transition: bottom 0.5s linear;
    -moz-transition: bottom 0.5s linear;
    transition: bottom 0.5s linear;    
}

.cppn-link-button.linkEnabled {
    bottom: 2.8rem;
}

@keyframes hue-animation {
    0% {
        filter: hue-rotate(0deg) brightness(110.08%);
    }
    14% {
        filter: hue-rotate(50.4deg) brightness(100%);
    }
    50% {
        filter: hue-rotate(180deg) brightness(125.92%);
    }
    60% {
        filter: hue-rotate(216deg) brightness(133.12%)
    }
    64% {
        filter: hue-rotate(230.4deg) brightness(136%);
    }
    68% {
        filter: hue-rotate(244.8deg) brightness(133.12%);
    }
    100% {
        filter: hue-rotate(360deg) brightness(110.08%);
    }
}

p,
li {
    color: #666;
    font-family: 'Lucida Grande', Helvetica;
    font-size: 25px;
    text-align: left;
}

p a,
p strong,
li a {
    text-decoration: none;
    color: #333;
}

li span {
    display: none;
    font-size: 20px;
    margin-left: 10px;
}

p a:hover {
    color: #F38199;
}

li {
    -webkit-transition: -webkit-transform .15s cubic-bezier(.11, .65, 1, 1.69);
    -moz-transition: -moz-transform .15s cubic-bezier(.11, .65, 1, 1.69);
    transition: transform .15s cubic-bezier(.11, .65, 1, 1.69);
}

li:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}

h1 {
    overflow: hidden;
    font-size: 0;
    background: transparent url(./img/jamesChou.jpg) no-repeat 55% 40%;
    background-size: 200px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto 10px auto;
    border: 6px solid #eee;
}

.icon-twitter,
#twitter-link:hover,
.twitter-link span {
    color: #00ACEE;
}

.icon-twitter:hover,
#twitter-link:active,
.twitter-link:hover span {
    color: #009CDE;
}

.icon-facebook,
.icon-facebook-sign,
#facebook-link:hover,
.facebook-link span {
    color: #4862A3;
}

.icon-facebook:hover,
.icon-facebook-sign:hover,
#facebook-link:active,
.facebook-link:hover span {
    color: #385293;
}

.icon-linkedin,
.icon-linkedin-sign,
#linkedin-link:hover,
.linkedin-link span {
    color: #1884BC;
}

.icon-linkedin:hover,
.icon-linkedin-sign:hover,
#linkedin-link:active,
.linkedin-link:hover span {
    color: #0874AC;
}

.icon-github,
.github-link span {
    color: #333;
}

#github-link:hover,
.github-link:hover span {
    color: #666;
}

.icon-github:hover,
#github-link:active {
    color: #000;
}

.icon-kaggle:hover,
.kaggle-link:hover span {
    color: #20BEFF;
}

.icon-file-text,
.resume-link span {
    color: #FFD700;
}

.icon-file-text:hover,
.resume-link:hover span {
    color: #ffcb05;
}

.icon-instagram,
.instagram-link span {
    color: #D6249F;
}

.icon-instagram:hover,
.instagram-link:hover span {
    color: #c92ad6;
}

.icon-kaggle {
    opacity: 0.9;
}
.icon-kaggle:before {
    content: "";
    background: transparent url(./img/kaggle_400x400.png) no-repeat;
    height: 24px;
    width: 21.44px;
    background-size: auto 25px;
    margin-bottom: -1px;
    border-radius: 5px;
}

.icon-kaggle:hover {
    opacity: 1;
}

#video-link:hover {
    color: #e52d27;
}

#kaggle-link:hover {
    color: #20BEFF;
}

#accenture-link:hover {
    color: #29B662;
}

#autodesk-link:hover {
    color: #0696D7;
}

#microsoft-link:hover {
    color: #0071DA;
}

#instagram-link:hover {
    color: #D6249F;
}

#video-link:active,
#accenture-link:active,
#autodesk-link:active,
#microsoft-link:active,
#kaggle-link:active,
#instagram-link:active {
    color: #CA411E;
}

i {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    width: 62px;
    display: inline-block;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    body {
        width: auto;
        position: relative;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        margin: 0;
        left: 0;
        top: 0;
    }
    
    .app {
        padding: 0;
        width: auto;
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    }

    .canvas-wrapper {
        top: 4rem;
        bottom: auto;
        -webkit-transform: translate(50%, -50%) scale(0, 0);
        -moz-transform: translate(50%, -50%) scale(0, 0);
        transform: translate(50%, -50%) scale(0, 0);
    }

    .canvas-wrapper.enabled {
        -webkit-transform: translate(50%, -50%) scale(1, 1);
        -moz-transform: translate(50%, -50%) scale(1, 1);
        transform: translate(50%, -50%) scale(1, 1);
    }
    

    .nn-buttons-container {
        display: none;
        top: 4rem;
        bottom: auto;
        -webkit-transform: translate(50%, -50%);
        -moz-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }

    .cppn-link-button  {
        position: absolute;
        right: 0;
        top: 0;
        bottom: auto;
    }

    .cppn-link-button.linkEnabled {
        top: 2.8rem;
        bottom: auto;
    }

    h1 {
        margin: 20px auto 0 auto;
    }

    p {
        font-size: 24px;
        margin: 20px;
    }

    ul {
        margin-top: 40px;
    }

    li {
        display: block;
        width: 100%;
    }

    li a {
        display: block;
        border-top: 1px solid #fff;
        width: 100%;
        vertical-align: middle;
        text-align: left;
        line-height: 40px;
    }

    li:hover {
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    }

    li span {
        display: inline;
    }

    li a:hover span,
    li a:visited span {
        color: #fff;
    }

    i {
        margin-left: 20px;
    }

    .twitter-link,
    .twitter-link i,
    .twitter-link span,
    .twitter-link:hover span {
        background-color: #00ACEE;
        color: #fff;
    }

    .facebook-link,
    .facebook-link i,
    .facebook-link span,
    .facebook-link:hover span {
        background-color: #4862A3;
        color: #fff;
    }

    .github-link,
    .github-link i,
    .github-link span,
    .github-link:hover span {
        background-color: #333;
        color: #fff;
    }

    .linkedin-link,
    .linkedin-link i,
    .linkedin-link span,
    .linkedin-link:hover span {
        background-color: #1884BC;
        color: #fff;
    }

    .kaggle-link,
    .kaggle-link i,
    .kaggle-link span,
    .kaggle-link:hover span {
        background-color: #20BEFF;
        color: #fff;
    }

    .icon-kaggle:before {
        background-color: #fff;
    }

    .instagram-link,
    .instagram-link i,
    .instagram-link span,
    .instagram-link:hover span {
        background-color: #D6249F;
        color: #fff;
    }

    .resume-link,
    .resume-link i,
    .resume-link span,
    .resume-link:hover span {
        background-color: #FFD700;
        color: #fff;
    }
}